body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to left, #fffaf6, #fce9da);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.color-change {
  /* Light mode colors */
  --background-color: #ffffff;
  --text-color: #333333;

  background-color: var(--background-color);
  color: var(--text-color);
}

.dark-mode {
  /* Dark mode colors */
  --background-color: #333333;
  --text-color: #ffffff;
}

.navbar {
  background: linear-gradient(to bottom, #cf7e03, #af4600ea);
  margin-bottom: 80px;
}

.navbar-brand {
  margin-left: 15px;
  margin-right: 55px;
}

.btn {
  --bs-btn-padding-x: 1.00rem;
}

.btn-secondary {
--bs-btn-bg: #3f6f9900;
--bs-btn-border-color: rgba(204, 156, 0, 0);
--bs-btn-hover-bg: #46453b54;
--bs-btn-hover-border-color: #c2972291;
}

.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
background-color: #343b349d;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  --bs-dropdown-link-active-bg: #af4600ea;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #c44e00ea;
  --bs-btn-border-color: #c2972291;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #eb920e;
  --bs-btn-hover-border-color: #eb920e;
  --bs-btn-focus-shadow-rgb: 49,132,253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #8d640c;
  --bs-btn-active-border-color: #31313171;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
}
